@import './themes';

@mixin nb-overrides() {
  // Header Overrides
  .header-container {
    .user-name,
    nb-icon {
      color: #fff;
    }
    nb-search button.size-medium nb-icon {
      font-size: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }


  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}
